@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-dana: "Dana", sans-serif;
  --color-primary-1: #fdba74;
  --color-primary-2: #fed7aa;
  --color-secondary-1: #0d9488;
  --color-secondary-2: #0f766e;
}

@font-face {
  font-family: "Dana";
  src:
    url("/fonts/Dana-Regular.woff2") format("woff2"),
    url("/fonts/Dana-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src:
    url("/fonts/Dana-Bold.woff2") format("woff2"),
    url("/fonts/Dana-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
